# Airflow Connections (AIRFLOW_CONN_{CONN_ID} format)
AIRFLOW_CONN_POSTGRES_DEFAULT=postgresql://govbrnews_app:PASSWORD@34.39.145.55:5432/govbrnews


# Variáveis adicionais
AIRFLOW_CONN_EMBEDDINGS_API=http://API_KEY@EMBEDDINGS_API_HOST

